.btn-next{
    cursor: pointer;
    display: flex;
    margin-bottom: 70px;
    margin-top: 48px;
}

.text-next{
    margin-right: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #D93D3D;
}