@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.btn-prev{
    cursor: pointer;
    display: flex;
    margin-bottom: 70px;
    max-width: 99px;
}

.text-prev{
    margin-left: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #D93D3D;
}